.error__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1A1B22;

    padding: 0;
    margin: 20px 0 0;
}

@media screen and (min-width: 768px) {
    .error__title {
        font-size: 26px;
        margin: 40px 0 0;
    }
}