.header__nav-wrap {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    padding: 16px 16px 0;
}

@media screen 
and (min-width: 768px)
and (max-width: 1024px) {
    .header__nav-wrap {
        padding: 22px 40px 0;
    }
}

@media screen 
and (min-width: 1025px) {
    .header__nav-wrap {
        padding: 30px 104px 0;
    }
}