.history__name {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1A1B22;
    padding: 0;
    margin: 0;

    grid-column: 2;
    grid-row: 1;
}

@media screen 
and (min-width: 1366px) {
    .history__name {
        font-size: 26px;
    }
}