.history__mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
    padding: 0;
    margin: 6px 0 0;

    grid-column: 2;
    grid-row: 2;
}

@media screen 
and (min-width: 1366px) {
    .history__mail {
        margin: 0;
    }
}