.section__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    padding: 0;
    margin: 0;
}

.section__link:hover {
    color: #1A1B22;
}