.header__error-message {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FF0000;
    margin-top: 5px;

    padding: 3px;
    margin: 0;

    position: absolute;
}

@media screen and (max-width: 767px) {
    .header__error-message {
        top: 37px;
        left: 25px; 
    }
}

@media screen and (min-width: 768px) {
    .header__error-message {
        left: 65px;
        bottom: 1px; 
    }
}

@media screen and (min-width: 1025px) {
    .header__error-message {
        left: 150px;
        bottom: 3px; 
    }
}