.history__info {
    display: grid;
    grid-template-columns: 48px 182px;
    grid-template-rows: 24px 24px 104px;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    overflow: hidden;
    padding: 0;
    margin: 11px 0 0;
}

@media screen 
and (min-width: 1366px)
and (max-width: 1440px) {
    .history__info {
        grid-template-columns: 64px 272px;
        grid-template-rows: 32px 32px 88px;

        margin: 16px 0 0;
    }
}